version: 2
updates:
  # Composer dependencies (PHP)
  - package-ecosystem: "composer"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "10:00"
      timezone: "America/Toronto"
    open-pull-requests-limit: 5
    target-branch: "develop"
    versioning-strategy: increase-if-necessary
    labels:
      - "dependencies"
    reviewers:
      - "refringe"

  # GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "10:00"
      timezone: "America/Toronto"
    open-pull-requests-limit: 5
    target-branch: "develop"
    labels:
      - "dependencies"
    reviewers:
      - "refringe"

  # npm modules (JavaScript)
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "10:00"
      timezone: "America/Toronto"
    open-pull-requests-limit: 5
    target-branch: "develop"
    versioning-strategy: increase-if-necessary
    labels:
      - "dependencies"
    reviewers:
      - "refringe"
