.DS_Store
.env
.env.backup
.env.production
.phpunit.result.cache
.fleet
.idea
.phpunit.cache
.vscode
caddy
config/psysh
config/caddy
data
node_modules
public/build
public/hot
public/storage
storage/*.key
vendor
auth.json
frankenphp
frankenphp-worker.php
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
