.DS_Store
.env
.env.backup
.env.production
/php.ini
.phpactor.json
.phpunit.cache
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.rector
/.scribe
/.vscode
/.zed
Homestead.json
Homestead.yaml
/auth.json
/node_modules
/public/build
/public/docs
/public/hot
/public/storage
/storage/*.key
/storage/app/private/livewire-tmp
!/storage/app/private/livewire-tmp/.gitkeep
/storage/app/public
!/storage/app/public/cover-photos/.gitkeep
!/storage/app/public/profile-photos/.gitkeep
/storage/pail
/tests/Browser/Screenshots
/tmp
/vendor
Homestead.json
Homestead.yaml
