includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon
parameters:
  level: 5
  paths:
    - app
    - bootstrap
    - config
    - database
    - lang
    - routes
  excludePaths:
    - tests/**/*
