includes:
  - vendor/larastan/larastan/extension.neon

parameters:
  level: 6

  paths:
  - app/
  - tests/

  scanFiles:
    - tests/Pest.php
    - vendor/mockery/mockery/library/helpers.php

  ignoreErrors:
    - message: '#^Undefined variable: \$this$#'
      paths:
      - tests/*

    - message: '#Call to an undefined method Pest\\Expectation|Pest\\Support\\Extendable::#'
      paths:
      - tests/*
