@import "tailwindcss";
@import '../../vendor/livewire/flux/dist/flux.css';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/laravel/jetstream/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: Figtree, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer theme {
    .dark {
        --color-zinc-50: var(--color-slate-50);
        --color-zinc-100: var(--color-slate-100);
        --color-zinc-200: var(--color-slate-200);
        --color-zinc-300: var(--color-slate-300);
        --color-zinc-400: var(--color-slate-400);
        --color-zinc-500: var(--color-slate-500);
        --color-zinc-600: var(--color-slate-600);
        --color-zinc-700: var(--color-slate-700);
        --color-zinc-800: var(--color-slate-800);
        --color-zinc-900: var(--color-slate-900);
        --color-zinc-950: var(--color-slate-950);
    }
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[x-cloak] {
    display: none;
}

button {
    @apply cursor-pointer;
}

.badge-version {
    @apply bg-gray-100 dark:bg-gray-700 text-gray-700 dark:text-gray-100;

    &.red {
        @apply bg-red-100 dark:bg-red-700 text-red-700 dark:text-red-100;
    }

    &.green {
        @apply bg-green-100 dark:bg-green-700 text-green-700 dark:text-green-100;
    }

    &.emerald {
        @apply bg-emerald-100 dark:bg-emerald-700 text-emerald-700 dark:text-emerald-100;
    }

    &.lime {
        @apply bg-lime-100 dark:bg-lime-700 text-lime-700 dark:text-lime-100;
    }

    &.yellow {
        @apply bg-yellow-100 dark:bg-yellow-700 text-yellow-700 dark:text-yellow-100;
    }
}

.user-markdown {
    a {
        @apply underline text-black dark:text-white hover:text-cyan-800 hover:dark:text-cyan-200 transition-colors;
    }

    b, strong {
        @apply font-bold;
    }

    i, em {
        @apply italic
    }

    h1, h2, h3, h4, h5, h6 {
        @apply font-bold mt-4 mb-2 text-black dark:text-white;
    }

    h1 {
        @apply text-2xl;
    }

    h2 {
        @apply text-xl;
    }

    h3 {
        @apply text-lg;
    }

    h4 {
        @apply text-base;
    }

    h5 {
        @apply text-sm;
    }

    h6 {
        @apply text-xs;
    }

    p {
        @apply my-2 text-gray-800 dark:text-gray-300;
    }

    ul {
        @apply list-disc mb-2;
    }

    ol {
        @apply list-decimal mb-2;
    }

    li {
        @apply my-2 ml-7 text-gray-800 dark:text-gray-300;
    }

    .tab-navigation {
        @apply flex flex-row gap-1 flex-wrap;

        .tab-link {
            @apply text-nowrap rounded-t-sm py-1 px-3 uppercase cursor-pointer border-b-2 border-transparent bg-slate-100 dark:bg-slate-900 hover:bg-slate-200 dark:hover:bg-slate-800 hover:border-b-cyan-400 dark:hover:border-b-cyan-600 text-black dark:text-white hover:text-cyan-800 dark:hover:text-cyan-200 transition-colors;

            &.active {
                @apply font-bold bg-slate-200 dark:bg-slate-800 border-b-cyan-400 dark:border-b-cyan-600 text-cyan-700 dark:text-cyan-300 transition-colors;
            }
        }
    }

    .tab-title {
        @apply hidden;
    }

    .tab-content {
        @apply mt-1 rounded-t-sm rounded-b-2xl bg-slate-100 dark:bg-gray-900 p-4;
    }
}

.ribbon {
    --f: .5em;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 1.5;
    font-size: 18px;
    font-weight: bold;
    padding-inline: 1lh;
    padding-bottom: var(--f);
    border-image: conic-gradient(#0008 0 0) 51%/var(--f);
    clip-path: polygon(100% calc(100% - var(--f)), 100% 100%, calc(100% - var(--f)) calc(100% - var(--f)), var(--f) calc(100% - var(--f)), 0 100%, 0 calc(100% - var(--f)), 999px calc(100% - var(--f) - 999px), calc(100% - 999px) calc(100% - var(--f) - 999px));
    transform: translate(calc((cos(45deg) - 1) * 100%), -100%) rotate(-45deg);
    transform-origin: 100% 100%;
    @apply text-white bg-cyan-500 dark:bg-cyan-700;

    &.red {
        @apply text-white bg-red-500 dark:bg-red-700;
    }
}

.rainbow {
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;
    -webkit-animation: rainbow 18s ease infinite;
    -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;
}

@-webkit-keyframes rainbow {
    0% {
        background-position: 0 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0 82%
    }
}

@-moz-keyframes rainbow {
    0% {
        background-position: 0 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0 82%
    }
}

@-o-keyframes rainbow {
    0% {
        background-position: 0 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0 82%
    }
}

@keyframes rainbow {
    0% {
        background-position: 0 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0 82%
    }
}
